#land
  
  //- BACKGROUND
  .background
  
  //- POPS
  canvas#pops(width='420' height='420' title='Do you like me?')
  
  //- CLERK FLAT
  a#clerkFlat.router(href='#' title=root.author)
    svg(version="1.1" viewBox="0 0 74 28")
      path(d="M18.8,9.5C17.2,6.8,14.3,5,11,5c-5,0-9,4-9,9s4,9,9,9c3.3,0,6.2-1.8,7.8-4.5")
      path(d="M30.7,23c-3.3,0-6-2.7-6-6V5")
      path(d="M43.7,22.2c-0.9,0.5-1.9,0.8-3,0.8c-3.3,0-6-2.7-6-6s2.7-6,6-6c3.3,0,6,2.7,6,6h-12")
      path(d="M58.3,11c-3.3,0-6,2.7-6,6v6")
      path(d="M72,23c-0.2-0.3-4.9-6.9-5-7l5-5l-8,8v4V5")
  
  //- MENU
  .menu
    each navigation in menu
      nav(data-permission=navigation.permission): ul
        each item in navigation.items
          if item.function
            li: a.link(href='#' onclick='return ' + item.function title=item.text)= item.text
          else
            li: a.link.router(href='#' + item.location title=item.text)= item.text
  
  //- HEADLINES
  ul.headlines
    each headline in headlines
      li.headline(data-location=headline.location)
        each line in headline.text
          .spans !{line}
