#auth
  
  //- BACKGROUND
  .background
  
  //- INTRO
  #intro: .h3
    each line in auth.intro
      .spans= line
  
  //- SWITCH
  #switch
    .h3: .spans= auth.switch.headline
    ul.fields.blocks.inline.halves
      each option in auth.switch.options
        li: a.button.router.shift(href='#' data-push=option.shift.push
          data-pull=option.shift.pull title=option.text)= option.text
    .note
      each line in auth.switch.note
        .small !{line}
  
  //- FORM
  mixin form(form)
    .h3: .spans= form.headline
    .note.small
      each line in form.note
        div= line
    .fields
      each field in form.fields
        if field.type == 'fields-group'
          .fields-group: ul.blocks.inline.halves
            each input in field.inputs
              li
                +field(input.name, input.placeholder, false, input.type)
        else
          +field(field.name, field.placeholder, false, field.type)
      if form.action.request
        a.button(href='#' onClick='Auth.' + form.action.request + '()'
          title=form.action.text)= form.action.text
      else
        a.button.router.shift(href='#' data-push=form.action.shift.push
          data-pull=form.action.shift.pull title=form.action.text)= form.action.text
    if form.link
      .small: a.link.router.shift(href='#' data-push=form.link.shift.push
        data-pull=form.link.shift.pull title=form.link.text)= form.link.text
  
  //- SIGN IN
  #signIn(data-request=auth.signIn.request)
    +form(auth.signIn)
  
  //- SIGN UP AS APPLICANT
  #signUpAsApplicant(data-request=auth.signUpAsApplicant.request)
    .background
    .email
      +form(auth.signUpAsApplicant.email)
    .password
      +form(auth.signUpAsApplicant.password)
  
  //- SIGN UP AS COMPANY
  #signUpAsCompany(data-request=auth.signUpAsCompany.request)
    .background
    .email
      +form(auth.signUpAsCompany.email)
    .password
      +form(auth.signUpAsCompany.password)
